{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "globalReturn": false
    }
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "plugins": [
    "sonarjs"
  ],
  "rules": {
    "semi": [
      "error",
      "never",
      {
        "beforeStatementContinuationChars": "always"
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": true
      }
    ],
    "no-plusplus": "off",
    "import/named": "off",
    "react/no-danger": "off",
    "linebreak-style": "off",
    "no-param-reassign": "off",
    "import/no-unresolved": "off",
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "import/no-named-as-default": "off",
    "sonarjs/cognitive-complexity": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-named-as-default-member": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}